:root {
    --background-color: #1e1e2e;
    --surface-color: #45475a;
    --text-color: #cdd6f4;
    --accent-color: #cba6f7;
    --header-color: #fab387;
    --sub-header-color: #f9e2af;
    --important-color: #f38ba8;
}

main {
    margin: 0;
    padding: 0;
    text-align: left;
}

ul {
    list-style-type: disc;
}

#score-formula {
    border: none;
    max-width: 500px;
    width: 100%;
    height: auto;
}

.faq-section {
    margin: 2em 0;
}

.faq-section h2 {
    color: var(--sub-header-color)
}
