:root {
    --background-color: #1e1e2e;
    --surface-color: #45475a;
    --text-color: #cdd6f4;
    --accent-color: #cba6f7;
    --header-color: #fab387;
    --sub-header-color: #f9e2af;
    --important-color: #f38ba8;
}

#daily-pic {
    max-width: 100%;
    /* Default for mobile/small screens */
    height: auto;
    display: block;
}

@media (min-width: 768px) {
    #daily-pic {
        max-width: 600px;
        /* Tablet and up */
    }
}

@media (min-width: 992px) {
    #daily-pic {
        max-width: 800px;
        /* Desktop */
    }
}

@media (min-width: 992px) {
    #daily-pic {
        max-width: 800px;
        /* Desktop */
    }
}

@media (min-width: 1920px) {
    #daily-pic {
        max-width: 1200px;
    }

    /* 2K screens */
}

@media (min-width: 2560px) {
    #daily-pic {
        max-width: 1600px;
    }

    /* 4K screens */
}

.hints,
.my-guess {
    display: flex;
    flex-direction: row;
}

.hints>p,
.my-guess>p {
    margin: 1em 0.5em;
    padding: 0.5em 1em;
    border-radius: 20px;
}

.hints>p {
    border: 2px solid var(--accent-color);
}

.my-guess>p {
    border: 2px solid var(--sub-header-color);
}
