<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AOT | Lost???</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
    <body style="text-align: center">
        <header>
            <h1>(ノಠ益ಠ)ノ彡┻━┻</h1>
        </header>
        <p>{{CATCHPHRASE}}</p>
        <img class="image-404" src="https://http.cat/404"/>

        <br/>
        <a id="link-go-home" href="/">/home </a>
    </body>
</html>
