<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AOT | About</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/about.css">
    </head>
    <body style="text-align: center">
        <header>
            <h1>About</h1>
        </header>

        <main>
            <div class="faq-section">
                <h2>📷 The Game</h2>
                <p>
                    The <b>Advent of Time</b> <i>"Guess what time it is in Stockholm"</i> game takes place from the 1st to the 25th of December. <br/>
                    Every day, a new picture will be unlocked. The picture will depict a location in Sweden. <br/>
                    Your goal is to guess the exact time of the day the picture was taken (HH:mm). <br/>
                    The closer your guess is to the actual time in the picture, the more points you will get. <br/>
                </p>
            </div>

            <div class="faq-section">
                <h2>🖼️ Pictures</h2>
                <p>
                    The picture for any given day will always unlock at 6:00 a.m (CET / UTC+1). <br/>
                    The pictures are real photos that have taken around Stockholm, Sweden. <i>(and maybe some other locations)</i> <br/>
                    Hints about the original date and location will be indicated below each picture. <br/>
                    Now, the hints may be <b>unreliable</b> most of the time. It's funnier that way, <i>right?</i>
                </p>
            </div>

            <div class="faq-section">
                <h2>🤔 Guessing</h2>
                <p>
                    To guess, you need to pick a time slot (HH:mm) using the input box below the picture. <br/>
                    The site just takes the raw time (HH:mm) you submit, <b>there is no time conversion going on.</b> <br/>
                    Once you have made a guess, you cannot undo it, it's locked forever so think carefully before submitting. <br/>
                    Once your guess has been locked, you will receive points based on how close you are to the time when the picture was taken. <br/>
                    To learn more about how points are awarded, please refer to the <a href="#faq-point-system">💯 Point system</a> section.
                </p>
            </div>

            <div class="faq-section" id="faq-point-system">
                <h2>💯 Point system</h2>
                <p>
                    Points are awarded based on how close your guess is compared to the real time the picture was taken. <br/>
                    The following formula is used to calculate points:
                <p/>
                <!-- LaTeX: $$\text{points} = \text{max_points} \times \left( 1 - \left( \frac{\text{diff}}{\text{divider}} \right)^{\text{exponent}} \right)$$-->
                <p><img id="score-formula" src="/static/images/score_formula.svg" /></p>
                <p>Where:</p>
                <ul>
                    <li><b>max_points:</b> the maximum number a points you can receive for a guess</li>
                    <li><b>diff:</b> difference in minutes between real time and guessed time</li>
                    <li><b>divider:</b> likely the total number of minutes in a day</li>
                    <li><b>exponent:</b> a magic number to make things less linear</li>
                </ul>
                <div>
                    <span><b>⚠️ Important thing to note:</b></span>
                    <p>
                        If the actual time of the picture is 01:00 and you guessed 23:00 it will be considered a 22 hours difference (not 2 hours!).<br/>
                        Keep that in mind before submitting your guesses.
                    </p>
                </div>
            </div>

            <div class="faq-section">
                <h2>🎁 Do we get anything for winning?</h2>
                <p>Maybe? Probably? I will see...</p>
            </div>

            <div class="faq-section">
                <h2>🚀 How much Quantum computing power is required to run this site?</h2>
                <p>
                    This is pure HTML (with <a href="https://handlebarsjs.com/">Handlebars</a>), CSS <i>and a tiny bit of vanilla JavaScript</i>.<br/>
                    No framework, no bullshit. Entirely served by a <a href="https://rust-lang.org/">rusty</a> web server.<br/>
                    You can find all the source code for this webapp <a href="https://github.com/Coko7/advent-of-time">here</a>. It's MIT-licensed.<br/>
                    The web server is a <b>home-made</b> <s><i>and insecure</i></s> implementation of HTTP 1.1: <a href="https://github.com/RTFW-rs/rtfw-http-rs">RTFW-http-rs</a><br/>
                    For the reverse-proxy, I picked <a href="https://caddyserver.com/">Caddy</a> because it is easy to configure and fast.<br/>
                </p>
            </div>

            <div class="faq-section">
                <h2>💀 Can I crash this site?</h2>
                <p>
                    It should be fairly easy. <br/>
                    Especially given the fact that <a href="https://github.com/RTFW-rs/rtfw-http-rs">RTFW-http-rs</a> is most likely <i>(one of)</i> the most insecure HTTP implementation in existence. <br/>
                    I would prefer if you <b>DID NOT</b> try to take down this instance, though. <br>
                    I can't guarantee I will get the site back up right away and it might ruin the experience for other players.<br/>
                    If you want to experiment, feel free to try and self-host this yourself. It's all <a href="https://github.com/Coko7/advent-of-time">open-source</a>, baby.
                </p>
            </div>

            <div class="faq-section">
                <h2>✨ Credits</h2>
                <p>
                    Most pictures were taken by a good friend of mine who was visiting Sweden. <br />
                    A huge thanks to him for providing a lot of quality pictures!
                </p>
                <p>
                    This game is heavily inspired by the <a href="https://adventofcode.com/">Advent of Code</a> in terms of UI and UX. <br/>
                    If you are a programmer, I highly recommend you to check it out, it's a great way to challenge yourself!
                </p>
            </div>
        </main>

        <a id="link-go-home" href="/">/home </a>
    </body>
</html>
