<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AOT | About</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
    <body style="text-align: center">
        <header>
            <h1>About</h1>
        </header>

        <main>
            <p>
                The <b>Advent of Time</b> <i>"Guess what time it is in Stockholm"</i> game takes place from 01/12/2025 to 25/12/2025.
            </p>

            <div class="faq-section">
                <h2>📷 The Game</h2>
                <p>
                    Every day, I will post a picture I have taken in Stockholm. <br/>
                    Your goal is to guess the exact time of the day the picture was taken (HH:mm). <br/>
                    The closer your guess is to the actual time in the picture, the more points you will get. <br/>
                </p>
            </div>

            <div class="faq-section">
                <h2>🚀 How many Quantum computers are needed to host this?</h2>
                <p>
                    This is pure HTML, CSS <i>(and vanilla JavaScript)</i>.<br/>
                    No framework, no bullshit. Entirely served by a <a href="https://rust-lang.org/">rusty</a> web server.<br/>
                    You can find the source code for this webapp <a href="https://github.com/Coko7/advent-of-time">here</a>. It's MIT-licensed.<br/>
                    The webapp relies on a home-made <s><i>and insecure</i></s> implementation of HTTP 1.1: <a href="https://github.com/RTFW-rs/rtfw-http-rs">RTFW-http-rs</a><br/>
                    For the reverse-proxy, I picked <a href="https://caddyserver.com/">Caddy</a> because it is easy to configure and fast.<br/>
                    Finally, all of this, is being served from a <a href="https://www.raspberrypi.com/">Raspberry Pi</a>, sitting comfortably in a frenchman's apartment. 🇫🇷 <br/>
                </p>
            </div>

            <div class="faq-section">
                <h2>💀 Can I crash this site?</h2>
                <p>
                    You can. But, I can't guarantee I will get it back up at all.<br/>
                    If you want to experiment, self-host it yourself. It's all open-source, baby.
                </p>
            </div>

            <div class="faq-section">
                <h2>✨ Inspirations</h2>
                <p>
                    This game is heavily inspired by the <a href="https://adventofcode.com/">Advent of Code</a> in terms of UI and UX. <br/>
                    If you are a programmer, I highly recommend you to check it out, it's a great way to challenge yourself!
                </p>
            </div>
        </main>

        <br/>
        <a id="link-go-home" href="/">/home </a>
    </body>
</html>
