<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AOT | Leaderboard</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/leaderboard.css">
    </head>
    <body style="text-align: center">
        <header>
            <h1>Leaderboard</h1>
        </header>

        <div class="center">
            <table>
                <tr>
                    <th>User</th>
                    <th>Guesses</th>
                    <th>Score</th>
                </tr>

                {{#each users}}
                    <tr>
                        <td>{{this.username}}</td>
                        <td>{{this.guesses}} / {{@root.total_days}}</td>
                        <td>{{this.score}} ⭐</td>
                    </tr>
                {{/each}}
            </table>
        </div>

        <br/>
        <a id="link-go-home" href="/">/home </a>
    </body>
</html>
