<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AOT | Leaderboard</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/leaderboard.css">
    </head>
    <body>
        <header>
            <h1>Leaderboard</h1>
        </header>

        <div class="center">
            {{LEADERBOARD_BLOCK}}
        </div>

        <br/>
        <a id="link-go-home" href="/">/home </a>
    </body>
</html>
