<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AOT | Login</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
    <body>
        <main class="center">
            <header>
                <h1>Login</h1>
            </header>

            <p>
                <a href="/auth/oauth2?idp=discord"> Login With Discord</a>
            </p>
            <p>
                <a href="/auth/oauth2?idp=microsoft"> Login With Microsoft</a>
            </p>
            <p>
                <a href="/auth/oauth2?idp=google"> Login With Google</a>
            </p>
        </main>

        <br/>
        <a id="link-go-home" href="/">/home </a>
    </body>
</html>
