<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AOT | Profile</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
    <body>
        <header>
            <h1>Profile</h1>
        </header>

        <div class="center">
            <h3>User: {{USERNAME}}</h3>
            {{GUESS_DATA_BLOCK}}
        </div>

        <br/>
        <a id="link-go-home" href="/">/home </a>
    </body>
</html>
