<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AOT | Profile</title>
        <link rel="stylesheet" type="text/css" href="/main.css">
    </head>
    <body style="text-align: center">
        <header>
            <h1>Profile</h1>
        </header>

        <div class="center">
                <table>
                    <tr>
                        <th>User</th>
                        <th>Guesses</th>
                        <th>Score</th>
                    </tr>
                    {{#each days}}
                        {{#if this.guessed}}
                            <li>Day {{this.day}} => {{this.points}} ⭐</li>
                        {{else}}
                            <li>Day {{this.day}} => 0 ⚫</li>
                        {{/if}}
                    {{/each}}
                </table>
            </ul>
        </div>

        <br/>
        <a id="link-go-home" href="/">/home </a>
    </body>
</html>
